<!doctype html>
{% load static%}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/rep.css' %}">
    <title>Hello, world!</title>
  </head>
  <body>
  <br>
  <br>
   <h1 style="font-family: Algerian;text-align: center;font-size: 50px;color: deeppink">HEALTHCARE INFORMATION SYSTEM</h1>
  <marquee><font style="font-size: 30px;color: red;font-family: Algerian"> CARONA virus is spreading without CARUNAAA!!!!! BE SAFE AT HOME ...</font></marquee>
  <br>
  <h3 style="font-family: 'Arial Black';font-size: 30px;color: green;text-align: center">E-HEALTHCARE ADVISOR</h3>
  <br>
{% include 'adminmenu.html' %}
    <br>
  <h3 align="center" style="font-family: 'Arial Black';font-size: 30px">ALL MEDICINES</h3>
  <table align="center" border="2">
      <tr style="background-color: greenyellow">
          <th>DISEASE NAME</th>
          <th>SYSMTOMS NAME</th>
          <th>MEDICINE NAME</th>
          <th>MEDICINE DESCRIPTION</th>
      </tr>
      {% for x in data %}
          <tr style="background-color: orange">
          <th>{{ x.des_name }}</th>
          <th>{{ x.sysm }}</th>
          <th>{{ x.med_name }}</th>
          <th>{{ x.med_desp }}</th>
          </tr>
      {% endfor %}
  </table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>